<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mushroom Not Found</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>Mushroom Not Found</h1>
    <h2>Try Again?</h2>
    <form action="/mushroom">
        <input type="text" name="mushroom" id="mushroom" placeholder="Enter a Mushroom Name" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>