# Core dependencies
torch>=2.0.0 # better to install manually with cuda
torchvision>=0.15.0 # better to install manually with cuda
numpy>=1.21.0
tqdm>=4.65.0
scikit-learn>=1.0.0  # for metrics and train/test splitting

# Visualization and utilities
matplotlib>=3.5.0

# api
flask
flask-restx

wikipedia

